.container {
  @apply mb-12 py-6 border-b border-gray-300 text-center;
}
.logo {
  @apply fill-current h-6 w-6 mr-4;
}
.menuItem {
  font-family: "Quicksand", sans-serif;
  @apply inline-block px-2 py-1 bg-gray-200 text-lg text-gray-600
  transition duration-200 ease-in-out
  border-0 rounded ml-4 first:ml-0;
}

.menuItem:first-child {
  margin-left: 0;
}

.menuItem:hover {
  @apply text-pink-700;
}
.nav {
  @apply pt-3;
}
.siteTitle {
  @apply text-2xl font-bold;
}
.siteTitle::before {
  content: "<";
  font-size: 2rem;
  top: 4px;
  position: relative;
  margin-right: 8px;
}
.siteTitle::after {
  content: ">";
  font-size: 2rem;
  top: 4px;
  position: relative;
  margin-left: 8px;
}

@screen tablet {
  .container {
    @apply flex justify-between;
  }
  .siteTitle {
    @apply inline-block text-3xl;
  }
  .nav {
    @apply pt-1;
  }
  .siteTitle::before {
    top: 2px;
    margin-right: 8px;
  }
  .siteTitle::after {
    top: 2px;
    margin-left: 8px;
  }
}
