{
	admin off
	auto_https off
	http_port 8080
}

http:// {
	handle {
		file_server {
			precompressed br gzip
			root /srv
		}

		header {
			Cache-Control "no-cache"
			# Content-Security-Policy "default-src 'self' data:; frame-ancestors 'none'; style-src 'unsafe-inline';"
			Permissions-Policy "geolocation=()"
			Referrer-Policy "strict-origin-when-cross-origin"
			Strict-Transport-Security "max-age=63072000; includeSubDomains"
			X-Content-Type-Options "nosniff"
		}

		@immutable {
			path /assets/*
		}
		route @immutable {
			header -Content-Security-Policy
			header Cache-Control public,max-age=31536000,immutable
		}
	}

	handle_errors {
		rewrite * /404.html
		file_server
	}
}
