---
import slugify from "slugify";
import { getCollection } from "astro:content";
import { siteConfig } from "config";
import Layout from "@layouts/Layout.astro";

export async function getStaticPaths() {
  const entries = await getCollection("grimoire");

  return entries.map((entry) => ({
    params: {
      entry: slugify(entry.data.title, { lower: true }),
    },
    props: {
      entry,
    },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
  author={siteConfig.author}
  title={entry.data.title}
  description="Orion's Grimoire"
>
  <h1>
    {entry.data.title}
  </h1>
  <Content />
</Layout>

<style>
  h1 {
    font-size: 1.8rem;
    line-height: 3.7rem;
  }
</style>
