.button {
  @apply bg-pink-700
  hover:bg-pink-500
  text-white
  font-bold
  mt-3
  py-2
  px-4
  rounded
  focus:ring;
}
.container {
  @apply w-full;
}
.error {
  @apply h-4 pt-1 pl-1;
}
.errorText {
  @apply text-pink-700
  text-sm;
}
.formContainer {
  @apply border-2
  border-gray-500
  rounded
  w-full
  px-3
  pt-6
  pb-8
  mt-8
  bg-gray-200;
}
.formContainer h2 {
  @apply mt-0;
}
.formOpaque {
  @apply opacity-40;
}
.input {
  @apply shadow
  appearance-none
  border
  rounded
  py-2
  px-3
  text-gray-700
  leading-tight
  focus:outline-none
  focus:ring
  placeholder-gray-300;
}
.label {
  @apply block
  text-gray-700
  text-base
  font-bold
  mt-4
  mb-1
  pl-1;
}
.comment {
  @apply h-24
  shadow
  appearance-none
  border
  rounded
  w-full
  py-2
  px-3
  text-gray-700
  leading-tight
  placeholder-gray-300
  focus:outline-none
  focus:ring;
}
.nope {
  @apply opacity-0
  absolute
  top-0
  left-0
  w-0
  h-0
  z-n1;
}
.section {
  @apply mb-4;
}
.success {
  @apply text-xl
  text-green-800
  font-bold;
}

@screen tablet {
  .formContainer {
    @apply px-12;
  }
}