.row {
  @apply flex justify-between items-baseline border-b border-gray-400 last:border-0;
  margin-bottom: 16px;
  padding-bottom: 16px;
}

.title {
  font-weight: 700;
  @apply hover:border-0;
}

.arrow {
  @apply text-teal-700;
  margin-left: 1rem;
  margin-right: 1rem;
}

.entryList {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.tagsList {
  @apply text-left;
}

.excerpt {
  font-style: italic;
  @apply text-gray-500;
  display: inline;
}

.tagStyle {
  @apply  bg-gray-200 text-gray-600 hover:text-pink-700;
  font-family: "Quicksand", sans-serif;
  display: inline;
  /* font-size: 85%; */
  padding: 3px 7px;
  border-radius: 5px;
  margin-left: 0.4rem;
  border: none;
}