---
import favicon from "@images/favicon.png";
---

<html lang="en">
  <head>
    <link rel="icon" href={favicon} type="image/png" />
  </head>
  <body>
    <p>404 not found</p>
  </body>
</html>

<style>
  p {
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    text-align: center;
  }
</style>
