---
import HomeHero from "@components/HomeHero.astro";
import PostLink from "@components/PostLink.astro";
import { siteConfig } from "config";
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Layout title={siteConfig.title}>
  <HomeHero />
  <h2>Posts</h2>
  {
    posts.map((post) => (
      <PostLink
        slug={post.slug}
        title={post.data.title}
        date={post.data.date.toLocaleDateString("en-us")}
        description={post.data.description}
      />
    ))
  }
</Layout>
