---
import slugify from "slugify";
import { getCollection } from "astro:content";
import { siteConfig } from "config";
import Layout from "@layouts/Layout.astro";
import Entry from "@components/GrimoireEntry.astro";

export async function getStaticPaths() {
  const entries = await getCollection("grimoire");

  const uniqueTags = [...new Set(entries.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredEntries = entries.filter((entry) =>
      entry.data.tags.includes(tag)
    );
    return {
      params: { tag: slugify(tag, { lower: true }) },
      props: { entries: filteredEntries, tag },
    };
  });
}

const { entries, tag } = Astro.props;
---

<Layout title={`${tag} | ${siteConfig.title}`}>
  <h1>
    Grimoire Entries tagged with “{tag}”
  </h1>
  {entries.map((entry) => <Entry entry={entry} />)}
</Layout>

<style>
  h1 {
    font-size: 2.8rem;
    line-height: 3.7rem;
  }
</style>
