---
import type { CollectionEntry } from "astro:content";
interface Props {
  entry: CollectionEntry<"grimoire">;
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<h2>{entry.data.title}</h2>
<Content />
