---
import slugify from "slugify";

export interface Props {
  title: string;
  tags?: string[];
}

const { title, tags } = Astro.props;
---

<div class="row">
  <a href={`/grimoire/${slugify(title, { lower: true })}/`} class="title">
    {title}
  </a>
  <div class="tag-list">
    <span class="arrow">▶</span>
    {
      tags.map((tag) => (
        <a
          href={`/grimoire/tag/${slugify(tag, { lower: true })}`}
          class="tag-style"
        >
          {tag}
        </a>
      ))
    }
  </div>
</div>

<style>
  .row {
    display: flex;
    border-bottom: 1px solid rgb(216 222 233);
    flex-direction: column;
    align-items: baseline;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  .row:last-child {
    border-width: 0;
  }
  .arrow {
    color: var(--color-accent);
    margin-right: 1rem;
    margin-left: 0;
  }
  .excerpt {
    display: inline;
    font-style: italic;
  }
  .title {
    font-weight: 700;
    text-decoration: none;
    flex-grow: 1;
    color: var(--color-highlight);
  }
  .title:hover {
    text-decoration: underline;
  }
  .tag-style {
    display: inline-block;
    font-family: "Quicksand", sans-serif;
    background-color: var(--color-neutral);
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-right: 0.5rem;
    color: var(--color-text-contrast);
  }
  .tag-style:hover {
    color: var(--color-highlight);
    transform: rotate(-2deg) translateY(-2px);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-duration: 150ms; */
  }
  .tag-style:hover:nth-child(odd) {
    transform: rotate(2deg) translateY(-2px);
  }

  @media screen and (min-width: 1024px) {
    .row {
    flex-direction: row;
  }
    .arrow {
      margin-right: 1rem;
      margin-left: 1rem;
    }
  }
</style>
