---
import selfie from "@images/me.jpg";
---

<div class="container">
  <div class="hero-text">
    <h2>Greetings, I'm Orion!</h2>
    <p>Welcome to my home on the Web.</p>
    <p>I'm a DevOps engineer and technical director. I manage cloud infrastructure, write CI and CD tools, and define technological strategy. I like classical music, gaming, sci-fi, and yoga.</p>
  </div>
  <div class="image-container">
    <img src={selfie} alt="Orion Anderson" height={230} width={230} />
  </div>
</div>

<style>
  .container {
    padding-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--color-box-border);
  }
  .hero-text > h2 {
    margin-top: 0;
    color: var(--color-text-base);
  }
  img {
    border-radius: 0.3rem;
  }

  @media (min-width: 768px) {
    img {
      margin-left: 2rem;
    }
  }
</style>
