---
import selfie from "@images/me.jpg";
---

<div class="container">
  <div class="image-container">
    <img src={selfie.src} alt="Orion Anderson" height={96} width={96} />
  </div>
  <div class="text">
    Greetings. My name is Orion Anderson. I'm a DevOps Developer in New York
    City. I love all things Docker, AWS, and automation.
  </div>
</div>

<style>
  .container {
    margin-bottom: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--color-highlight);
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
  }
  .image-container {
    margin-bottom: 1.5rem;
    width: 10rem;
  }
  .image-container > img {
    border-radius: 0.25rem;
  }

  @media (min-width: 768px) {
    .container {
      display: flex;
    }
    .image-container {
      width: 8rem;
      margin-bottom: 0px;
      margin-right: 1.5rem;
      flex-shrink: 0;
    }
    .text {
      font-size: 1.25rem;
      line-height: 1.9rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      margin-bottom: 1rem;
      padding: 1rem;
    }
    .image-container {
      width: 6rem;
      margin-right: 1.5rem;
    }
    .text {
      /* font-size: 1.2rem; */
    }
  }
</style>
