---
import selfie from "@images/me.jpg";
---

<div class="container">
  <div class="row1">
    <div class="image-container">
      <img src={selfie} alt="Orion Anderson" height={150} width={150} />
    </div>
    <div class="greet">
      <strong>Hello!</strong>
      <br />My name is Orion Anderson.
      <br />I'm a DevOps Guy in NYC.
    </div>
  </div>
  <div class="text2">
    I love all this AWS, Docker, automation.
  </div>
</div>

<style>
  .container {
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--color-box-border);
  }
  .row1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 2rem;
  }
  .greet {
    font-size: 2rem;
    line-height: 2.3rem;
  }
  img {
    border-radius: 0.3rem;
  }

  @media (min-width: 768px) {
    img {
      margin-right: 2rem;
    }

    .greet {
      margin-top: -0.5rem;
    }
  }
</style>
